Source: vyatta-debian-system-config
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 config-package-dev,
 systemd
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-debian-system-config.git
Vcs-Browser: https://github.com/nudanos/vyatta-debian-system-config

Package: vyatta-debian-system-config
Architecture: all
Depends: 
 adduser,
 apt,
 auditd,
 ddclient,
 dnsmasq,
 ipvsadm,
 isc-dhcp-relay,
 isc-dhcp-server,
 man-db,
 ntpsec,
 radvd,
 rsyslog,
 snmpd,
 sudo,
 systemd,
 udev,
 ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Vyatta changes to the Debian default configuration
 This package includes the Vyatta changes to the Debian default configuration.

Package: vyatta-smartmontools-config
Architecture: all
Depends: smartmontools, ${misc:Depends}
Description: Vyatta changes to the Smartmontools configuration
 This empty package that includes the Vyatta changes to the
 Smartmontools configuration.
